.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;

  &--primary {
    background-color: $color-primary-dark;
  }

  &--secondary {
    background-color: $color-secondary-dark;
  }

  &--block {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &--block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
  }
}
