.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &--primary {
    background-color: $color-primary-dark;
  }

  &--secondary {
    background-color: $color-secondary-dark;
  }

  &--large {
    font-size: 2rem;
    padding: 1.5rem;
  }

  &--block {
    width: 100%;
  }

  &--submit {
    height: auto;
    padding: 1rem;
    box-shadow: none;
    margin: 0px 0px 0px 1rem;
    border: none;
    margin: none;
    height: 5rem;
  }

  &:hover {
    cursor: pointer;
  }

  &--block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
  }
}
