.chat-room {
  height: calc(100vh - 5rem);
  background-color: lighten($color-tertiary-dark, 36%);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &__messages {
    flex: 1;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding: 1rem;
    background-color: rgba($color-white, 0.2);

    .from-text-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      span {
        color: #232323;
        font-weight: 700;
        border-bottom: 1px solid #232323;
        padding-bottom: 3px;
        margin-bottom: 5px;
      }
    }
  }

  .userListContainer {
    position: absolute;
    top: 50px;
    right: 50px;
    background: #f9f9f9;
    border: 2px solid #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    border-top-right-radius: 0px;

    .userList {
      margin: 10px 0;
      font-size: 1.2rem;
      overflow: auto;
      margin-bottom: 0;
      width: 100px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      span {
        display: flex;
        width: 100px;
        margin: 5px 0;
        overflow: hidden;
      }
    }
  }

  &__controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    .messages {
      padding: 1.2rem;
      font-size: 1.5rem;
      border: none;
      flex: 5;
      border-radius: 5px;
    }

    .submit {
      flex: 1;
    }
  }
}

@media (max-width: 570px) {
  .chat-room {
    height: calc(100vh - 10rem);

    &__controls {
      flex-direction: column;

      & > * {
        margin-top: 2rem;
        width: 100%;
      }
    }
  }
}
