.form {
  width: 35rem;
  margin: 2rem 0;

  &__form-group {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    min-width: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;

    label {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
      padding: 1rem;
    }

    input {
      width: 100%;
      padding: 1rem;
      border: 1.5px solid transparent;
      box-shadow: none;
      font-size: 1.5rem;
      box-shadow: 0rem 0.3rem 0.9rem $color-grey-light-1;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &:hover {
        border: 1.5px solid $color-grey-light-1;
        box-shadow: 0rem 0.3rem 0.9rem $color-grey-light-1;
      }
    }

    input[type='submit'] {
      width: 100px;
      border: 1.5px solid transparent;
      background: $color-primary;
      color: $color-white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
