.explore {
  height: calc(100vh - 5rem);
  overflow: hidden;

  & > *:last-child {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 570px) {
  .explore {
    height: calc(100vh - 10rem);
  }
}
