.mb-1 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.btn-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 2rem 0;
  }
}

.error-msg {
  display: block;
  background: $color-secondary-light;
  color: $color-white;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  border-radius: 100px;
  text-align: center;
}

.success-msg {
  display: block;
  background: $color-primary-light;
  color: $color-white;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  border-radius: 100px;
  text-align: center;
}
